extends app

block movies
  .container
    .movies
      form.schedule
        //- p=moment().format('dddd MMM DD YYYY')
        //-   a
        //-     i.fa.fa-calendar
        input#datepicker(type="text", placeholder="#{moment().format('dddd MMM DD YYYY')}")
      ul.list-unstyled
        for movie in movies
          li.movie
            h2.movie-title=movie.name
            img.img-rounded.movie-poster(src="#{movie.poster}")
            p.moive-information
                label RunTime
                =movie.runtime
                label &nbsp&nbsp&nbsp&nbsp&nbsp&nbspRate
                =movie.rate
            table.movie-showing
              tr
                -var shows = _.filter(movie_showing, function(show){ return show.movie_id == movie.id; });
                  for show in shows
                    td
                      if moment(show.show_time, "hh:mm") >= moment()
                        a=show.show_time.slice(0, 5)
                      else
                        =show.show_time.slice(0, 5)
